<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @cocktail.photo.attached? ? cl_image_path(@cocktail.photo.key) : cl_image_path('eb6zbtrsmr81wmnqcevs') %>);">
  <div class="container">
    <h1 class='text-center'><%= @cocktail.name %></h1>
  </div>
</div>
<div class="row d-flex justify-content-around mt-3">
  <div class="col-8 description">
    <h3>Description</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio dolores totam iure tempora eligendi cum consequatur repellat modi placeat doloribus iusto excepturi eius perspiciatis, ab debitis saepe nostrum voluptate ut.</p>
    <%= link_to cocktail_path(@cocktail.id),
    method: :delete,
    data: { confirm: 'Are you sure?' } do%>
    <i class="fas fa-trash-alt"></i>
    <% end %>
    <%= link_to  edit_cocktail_path do %>
    <i class="fas fa-edit"></i>
    <% end %>

    <%#= link_to 'Leave review', new_cocktail_review_path(@cocktail) %>

  </div>

  <div class="col-4">
    <h4>Ingredients</h4>
    <ul>
      <% @cocktail.doses.each do |dose| %>
      <li style="list-style: none;">
        <span><strong><%= dose.ingredient.name %></strong> - <%= dose.description %></span>
        <span class='grey'>
        <%= link_to dose_path(dose),
        method: :delete,
        data: { confirm: 'Are you sure?' } do%>
        <i class="fas fa-trash-alt"></i>
        <% end %>
        </span>
      </li>
      <% end %>
    </ul>
    <%= link_to 'Add a new dose', new_cocktail_dose_path(@cocktail), class: "btn btn-danger" %>
  </div>
</div>
<div class="review">
  <h4>Reviews</h4>
  <ul class="list-group">
    <% @cocktail.reviews.each do |review| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <span><%= review.content %></span> <br>

        <span><strong>Rating</strong>: <% review.rating.times do %>
              <i class="fas fa-star gold"></i>
              <% end %>
        </span>

      </div>
      <div class="grey">
        <%= link_to review_path(review),
        method: :delete,
        data: { confirm: 'Are you sure?' } do%>
        <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<div class="center">
  <h4><i class="fas fa-plus"></i> <strong>Add review for <%= @cocktail.name %> </strong></h4>

  <%= render 'reviews/form' %>
</div>


